@font-face {
    font-family: 'Poppins-200';
    src: url(../fonts/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: 'Poppins-400';
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins-600';
    src: url(../fonts/Poppins-SemiBold.ttf);
}
:root {
    --font-family-primary: 'Poppins-400', sans-serif;
    --font-family-secondary: 'Poppins-600', sans-serif;
    --font-family-tertiary: 'Poppins-200', sans-serif;

    --color-primary: hsl(234, 12%, 34%);
    --background-color: hsl(0, 0%, 98%);
    --card-background: hsl(0, 0%, 100%);
    --shadow-color: hsl(229, 6%, 66%);

    --border-red: hsl(0, 78%, 62%);
    --border-cyan: hsl(180, 62%, 55%);
    --border-orange: hsl(34, 97%, 64%);
    --border-blue: hsl(212, 86%, 64%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: var(--font-family-primary);
    color: var(--color-primary);
    background-color: var(--background-color);
    margin: 0;
}
h1, h2, p, h3 {
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 23.4375rem;
    margin: 0 auto;
    padding: 5.31rem 2rem 4.87rem 2rem;
}

header {
    text-align: center;
    margin-bottom: 4.75rem;
}
.header__subtitle {
    font-family: var(--font-family-tertiary);
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.01044rem;
}
.header__title {
    font-family: var(--font-family-secondary);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.01044rem;
    margin-bottom: 0.81rem;
}
.header__text {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    opacity: 0.5;
    font-weight: 400;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.card {
    background-color: var(--card-background);
    border-radius: 0.5rem;
    box-shadow: 0 15px 30px -11px var(--shadow-color);
    padding: 1.47rem 1.75rem 1.75rem 1.75rem;
}
.card__title {
    font-family: var(--font-family-secondary);
    font-size: 1.25rem;
    font-weight: 600;
}
.card__text {
    font-size: 0.8125rem;
    line-height: 1.4375rem;
    opacity: 0.5;
    font-weight: 400;
}
.card__image {
    width: 3.5625rem;
    height: 3.5625rem;
    margin-top: 2.06rem;
    margin-left: auto;
}
img {
    width: 100%;
}
.red {
    border-top: 0.222rem solid var(--border-red);
}
.cyan {
    border-top: 0.222rem solid var(--border-cyan);
}
.orange {
    border-top: 0.222rem solid var(--border-orange);
}
.blue {
    border-top: 0.222rem solid var(--border-blue);
}

@media (min-width: 1000px) {
    .main-container {
        max-width: 90rem;
        padding: 5rem 10.31rem;
    }

    header {
        max-width: 33.75rem;
        margin: 0 auto;
        margin-bottom: 4rem;
    }
    .header__subtitle {
        font-size: 2.25rem;
        letter-spacing: 0.01563rem;
    }
    .header__title {
        margin-top: -0.5rem;
        font-size: 2.25rem;
        letter-spacing: 0.01563rem;
        margin-bottom: 1rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1.88rem;
        max-width: 69.38rem;
    }
    .card {
        padding: 1.75rem 2rem 2rem 2rem;
        border-top-width: 0.25rem;
    }
    .card__title {
        margin-bottom: 0.37rem;
    }
    .card__image {
        width: 4rem;
        height: 4rem;
        margin-top: 2.5rem;
    }
    .cyan {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
    .red {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
    .orange {
        grid-column: 2 / 3;
        grid-row: 3 / 5;
    }
    .blue {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
    }
}